{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!--
Victory HTML CSS Template
https://templatemo.com/tm-507-victory
-->

    <title>Блог - Victory</title>
    <meta name="description" content="Блог ресторана Victory - гастрономические истории и новости">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero-slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>

<body>
    <div class="header">
        <div class="container">
            <a href="{% url 'main_page' %}" class="navbar-brand scroll-top">Victory</a>
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Меню</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'main_page' %}">Главная</a></li>
                        <li><a href="{% url 'menu' %}">Наше меню</a></li>
                        <li><a href="{% url 'blog' %}" class="active">Блог</a></li>
                        <li><a href="{% url 'contact' %}">Связаться</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Наш блог</h1>
                    <p>Добро пожаловать в наш блог — здесь мы делимся <strong>вдохновением, историями блюд, гастрономическими идеями и новостями ресторана.</strong></p>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-page">
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-md-8 col-md-offset-2">
                <div class="blog-item">
                    {% if post.image %}
                    <a href="{% url 'post_detail' post.id %}">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-responsive">
                    </a>
                    {% endif %}
                    <div class="date">{{ post.date|date:"d M Y" }}</div>
                    <div class="down-content">
                        <a href="{% url 'post_detail' post.id %}"><h4>{{ post.title }}</h4></a>
                        <span>Автор: {{ post.get_author_display }}</span>
                        <p>{{ post.short_description }}</p>
                        <div class="text-button">
                            <a href="{% url 'post_detail' post.id %}">Читать далее &rarr;</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-info">Пока нет ни одного поста. Зайдите позже!</div>
            </div>
            {% endfor %}

            <div class="col-md-8 col-md-offset-2">
                <ul class="page-number">
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

    <section class="sign-up">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Подпишитесь на наши новости</h2>
                    </div>
                </div>
            </div>
            <form id="contact" action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-3">
                        <fieldset>
                            <input name="email" type="email" class="form-control" id="email" placeholder="Ваш email..." required>
                        </fieldset>
                    </div>
                    <div class="col-md-2">
                        <fieldset>
                            <button type="submit" id="form-submit" class="btn">Подписаться</button>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>&copy; София</p>
                </div>
                <div class="col-md-4">
                    <ul class="social-icons">
                        <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p>&copy; Саадат</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
    $(document).ready(function() {
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });

        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');
        });

        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });

    function scrollToID(id, speed){
        var offSet = 50;
        var targetOffset = $(id).offset().top - offSet;
        $('html,body').animate({scrollTop:targetOffset}, speed);
    }
    </script>
</body>
</html>