{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ post.title }} - Victory</title>
    <meta name="description" content="Блог ресторана Victory - гастрономические истории и новости">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero-slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>

<body>
    <div class="header">
        <div class="container">
            <a href="{% url 'main_page' %}" class="navbar-brand scroll-top">Victory</a>
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Меню</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'main_page' %}">Главная</a></li>
                        <li><a href="{% url 'menu' %}">Наше меню</a></li>
                        <li><a href="{% url 'blog' %}" class="active">Блог</a></li>
                        <li><a href="{% url 'contact' %}">Связаться</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ post.title }}</h1>
                    <p>{{ post.short_description }}</p>
                    <p>Автор: {{ post.get_author_display }} | Дата: {{ post.date|date:"d M Y" }}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-page">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="blog-item">
                            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-responsive">
                        <div class="date">{{ post.date|date:"d M Y" }}</div>
                        <div class="down-content">
                            <h4>{{ post.title }}</h4>
                            <span>Автор: {{ post.get_author_display }}</span>
                            <p>{{ post.content }}</p>
                            {% if post.conclusion %}
                                <p>{{ post.conclusion }}</p>
                            {% endif %}
                            <div class="text-button">
                                <a href="{% url 'blog' %}">Вернуться к блогу &larr;</a>
                            </div>
                        </div>
                    </div>
                </div>

<div class="comments-section mt-5">
    <h4 class="mb-4">Комментарии ({{ comments.count }})</h4>

    {% for comment in comments %}
    <div class="comment mb-4 p-3 bg-light rounded">
        <div class="d-flex justify-content-between mb-2">
            <strong>{{ comment.author }}</strong>
            <small class="text-muted">{{ comment.created_date|date:"d M Y H:i" }}</small>
        </div>
        <p class="mb-0">{{ comment.text|linebreaksbr }}</p>
    </div>
    {% empty %}
    <p>Пока нет комментариев. Будьте первым!</p>
    {% endfor %}

    <div class="comment-form mt-5">
    <h5 class="mb-3">
        <a href="#submit-comment" class="smooth-scroll-link text-decoration-none" style="color: inherit;">
            Оставить комментарий
        </a>
    </h5>
    <form method="post">
            {% csrf_token %}

            {% if not request.user.is_authenticated %}
            <div class="alert alert-warning small mb-3">
                Вы комментируете как гость. <a href="{% url 'login' %}?next={{ request.path }}">Войдите</a>, чтобы сохранить имя.
            </div>
            {% endif %}

            <div class="form-group">
                <textarea name="text" class="form-control" rows="3"
                          placeholder="Ваш комментарий..." required></textarea>
            </div>

            <button type="submit" class="btn btn-coral mt-3" id="submit-comment">
                <i class="far fa-paper-plane me-2"></i> Отправить
            </button>
        </form>
    </div>
</div>

<div class="footer-spacer" style="height: 100px;"></div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>&copy; София</p>
                </div>
                <div class="col-md-4">
                    <ul class="social-icons">
                        <li><a rel="nofollow" href="{% static 'https://fb.com/templatemo' %}"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p>&copy; Саадат</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
    $(document).ready(function() {
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });

        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');
        });

        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });

    function scrollToID(id, speed){
        var offSet = 50;
        var targetOffset = $(id).offset().top - offSet;
        $('html,body').animate({scrollTop:targetOffset}, speed);
    }
    </script>

    <script>
    document.querySelector('.smooth-scroll-link').addEventListener('click', function(e) {
        e.preventDefault();
        document.getElementById('submit-comment').scrollIntoView({
            behavior: 'smooth',
            block: 'center'
        });
    });
    </script>
</body>
</html>