<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'index.html' %}

{% block content %}
    <div style="padding: 30px; text-align: center;">
        <h2>👋 Привет, {{ request.user.username }}!</h2>
        <p>Вы успешно вошли в аккаунт.</p>

        <a href="{% url 'main_page' %}"
           style="display: inline-block; margin-top: 20px; padding: 10px 20px; background-color: #198754; color: white; border-radius: 6px; text-decoration: none; font-weight: 500;">
            ⬅ Вернуться на главную
        </a>
    </div>
{% endblock %}

</body>
</html>